.about {
    display: flex;
  }
  .about-list {
    width: calc((100% - 90px) / 4);
  }
  .about-list:not(last-child) {
    margin-right: 30px;
  }
  .about-item {
    margin-bottom: 10px;
    color: var(--main-text-color);
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .about-text {
    font-weight: normal;
    line-height: 1.71;
  }
  .about-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }
  .about-icon {
    width: 70px;
    height: 70px;
  }