.client {
    display: flex;
    justify-content: center;
  }
  .client-block-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    fill: #afb1b8;
  border-radius: 4px;
  transition: fill 250ms var(--animation-cubic-bezier),
  border-color 250ms var(--animation-cubic-bezier);
  }
  .section-client {
    margin-bottom: 50px;
  }
  .client-block-link:focus,
  .client-block-link:hover {
    fill: var(--acent-color);
    border-color: var(--acent-color);
  }
  .client-block:not(:last-child) {
    margin-right: 30px;
  }
  
  .client-icon {
    width: 106px;
    height: 60px;
  }